// btn-primary hover — из elegast

// светлая тема
.btn-primary {
    --bs-btn-hover-bg: #1a1a1a;
    --bs-btn-hover-border-color: #1a1a1a;
    --bs-btn-active-bg: #2b2b2b;
    --bs-btn-active-border-color: #2b2b2b;

    &:hover {}

    &:active {}
}

// тёмная тема
[data-bs-theme="dark"] {
    .btn-primary {
        background-color: #343a40;
        color: #fff;
        border-color: #343a40;

        &:hover {
            background-color: #55595c;
            border-color: #55595c;
        }

        &:active {
            background-color: #55595c;
            border-color: #55595c;
        }
    }
}