// btn-primary hover — из elegast

// светлая тема
.btn-primary {
    --bs-btn-hover-bg: #1a1a1a;
    --bs-btn-hover-border-color: #1a1a1a;
    --bs-btn-active-bg: #343a40;
    --bs-btn-active-border-color: #343a40;
}

// тёмная тема
[data-bs-theme="dark"] {
    .btn-primary {
        /*background-color: #1a1a1a; // $gray-900*/
        color: #fff;
        /*border-color: #1a1a1a;*/

        &:hover {
            background-color: #1a1a1a;
            border-color: #343a40;
        }

        &:active {
            background-color: #343a40;
            border-color: #55595c;
        }
    }
}